<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.family_bet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Family_bet"
        tools:targetApi="31">
        <activity
            android:name=".View_Model.User_Activity.Delar_activity.Sync.Update_Games"
            android:exported="false" />
        <activity
            android:name=".View_Model.User_Activity.Delar_activity.Add_News"
            android:exported="false" />
        <activity
            android:name=".View_Model.Tournament_activities.join.Choosing_tours_details"
            android:exported="false" />
        <activity
            android:name=".View_Model.User_Activity.Delar_activity.Dealear_Menu"
            android:exported="false" />
        <activity
            android:name=".View_Model.Register.REGISTER_WITH_GOOGLE"
            android:exported="false" />
        <activity
            android:name=".Video_FRom_Url"
            android:exported="false" />
        <activity
            android:name=".View_Model.Tournament_activities.Add.init_Games"
            android:exported="false" />
        <activity
            android:name=".View_Model.Tournament_activities.Add.Add_Activity"
            android:exported="false" />
        <activity
            android:name=".View_Model.Tournament_activities.join.Join_tour"
            android:exported="false" />
        <activity
            android:name=".View_Model.User_Activity.Delar_activity.Delar_Activity"
            android:exported="false" />
        <activity
            android:name=".View_Model.User_Activity.Predictor_Activity.Predictor_Activity"
            android:exported="false" />
        <activity
            android:name=".View_Model.User_Activity.User_Activity"
            android:exported="false" />
        <activity
            android:name=".View_Model.Register.Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample Admob ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5580537606944457~4465578836" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".MESSAGES.MyFirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>